.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.celeb {
  display: flex;
  flex-direction: row;
}
.celebList {
  text-align: left;

}
.celebs {
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
  margin: 10px;   
}
.celebs img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}
.celebrityDetails {
  text-align: right;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px;
  font-size: 20px;
}
.celebrityDetails img {
  margin: 10px;
}
.celebrityDetails span{
  margin: 5px;
}
